*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    
}

body{
   
    background-color:black;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none; 
}
